<nav class="navbar navbar-expand-md fixed-top navbar-light bg-light">
  <img class="mr-3" src="~/images/Lowes_logo.png" alt="" width="100" height="50">
  <a class="navbar-brand" [routerLink]="['/home']">Profile Tracker</a>

  <ul *ngIf="loggedIn()" class="navbar-nav mr-auto">
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" [routerLink]="['/candidates']" >Candidates</a>
    </li>
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" [routerLink]="['/requirements']" >Requirements</a>
    </li>
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" [routerLink]="['/f2f']">F2F Interview</a>
    </li>
  </ul>

  <div *ngIf="loggedIn()" class="dropdown" dropdown>
    <a class="dropdown-toggle text-dark" dropdownToggle>
      Welcome Shiyas
      <!-- {{ authService.decodedToken?.unique_name | titlecase }} -->
    </a>
    <div class="dropdown-menu mt-3" *dropdownMenu>
      <a class="dropdown-item" href="#"><i class="fa fa-user"></i> Edit Profile</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" (click)="logout()"><i class="fa fa-sign-out"></i> Logout</a>
    </div>
  </div>

  <form *ngIf="!loggedIn()" #loginForm="ngForm" class="form-inline my-2 my-lg-0" (ngSubmit)="login()">
    <input class="form-control mr-sm-2" type="text" name="username"
      placeholder="Username" required [(ngModel)]="model.username">
    <input class="form-control mr-sm-2" type="password" name="password"
      placeholder="Password" required [(ngModel)]="model.password">
    <button [disabled]="!loginForm.valid" class="btn btn-success my-2 my-sm-0" type="submit">Login</button>
  </form>
</nav>

        <!-- <button class="navbar-toggler p-0 border-0" type="button" data-toggle="offcanvas">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/Candidates">Candidates</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Requirements</a>
            </li>
            </ul>
            <form id="loginForm" class="form-inline my-2 my-lg-0" >
                <input class="form-control mr-sm-2" type="text" name="username"
                placeholder="Username" required>
                <input class="form-control mr-sm-2" type="password" name="password"
                placeholder="Password" required>
                <button class="btn btn-success my-2 my-sm-0" type="button" id="loginButton">Login</button>
            </form>
            <div class="dropdown" id="loggedInDiv" >
                <a class="dropdown-toggle text-light"  data-toggle="dropdown">
                Welcome <span>Shiyas</span>
                </a>
                <div class="dropdown-menu mt-3">                    
                    <a class="dropdown-item" id="logoutButton"><i class="fa fa-sign-out"></i> Logout</a>
                </div>
            </div> 
        </div>
    </nav> -->